.title {
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    justify-content: center;
}

.daily-item {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.35);
    color:#dbdbdb;
    height: 40px;
    margin: 5px;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}

.icon-small {
    width: 40px;
}

.day {
    color: #ffffff;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #ffffff;
}

.daily-details-grid {
    display: grid;
    grid-row-gap: 0;
    row-gap: 0;
    grid-column-gap: 15px;
    column-gap: 15px;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.daily-details-grid-item {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.daily-details-grid-item label:first-child {
    color: #dbdbdb;

}

.daily-details-grid-item label:last-child {
    color: #ebebeb;

}