.container {
  max-width: 600px;
  margin: 100px auto;
  background-color: #7f7f7f;
  border-width: 2px 2px 2px 2px;
  border-color: black;
}

.footer-info {
  position: fixed;
  width: 100%;
  bottom: 50px;
  text-align: center;
  font-family: "Roboto", Arial !important;
}

.footer-info a:hover {
  color: #fff;
}

.footer-info a {
  color: #7f7f7f;
  text-decoration: none;
}

